body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: fit-content;
    background-image: url(../IMG/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.monogram{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    position:fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
}

.monogram img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*----------------- body ------------------*/

#ime {
    font-size: 400%;
    margin-top: 200px;
    margin-bottom: 0;
    color: black;
    text-align: center;
    transition: all 2s ease;
    position: relative;
}

#ime.scrolled {
    margin-top: 10px;
    position: fixed;
    top: 18px;
    left: 130px;
    font-size: 65px;
    text-align: left;
    color: white;
}

h2 {
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 0;
    text-align: center;
}

#ikone{
    display:flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
}

#ikone a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#ikone img{
    height: 40px;
    width: 40px;
}

/* Fade-out elementi */
.fade {
    opacity: 1;
}

.fade-out {
    margin-top: 10%;
    opacity: 0;
}

/* dalje besedilo*/
.space{
    width: 100%;
    min-height: 100vh;
}

.podatki{
    background-color: rgb(216, 216, 216);
    min-height: 400px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.div1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div2{
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    width: 50%;
    height: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line{
    width: 180px;
    height: 3px;
    background-color: black;
}

.aboutme{
    margin-bottom: 0;
}

#opis{
    font-size: 19px;
    width: 80%;
    text-align: center;
    color: black;
}